.logo{
	height: 50px;
	width: 50px;
}



p{
	text-align: center;
}

nav{
	display: block;
	text-align: center;
}
#description{
    position: center;
}
#ins{
	border-width: 0.5px;
}
#connect{
	border-width: 0.5px;
}